---

import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const {blok} = Astro.props

const { title, text, blocks } = blok

---

<section class="py-28" {...storyblokEditable(blok)}>
    <div class="md:px-8 px-4 container-wrapper">
        <div class="space-y-5 mb-5 text-center">
            <h2 class="text-4xl text-gray-800 font-extrabold md:text-5xl">
                { title }
              </h2>
              <p>
                { text }
              </p>
        </div>
        <div class="grid md:grid-cols-2 gap-4">
            {
                blocks?.map(blok => {
                    return <StoryblokComponent {blok} />
                })
            }
        </div>
    </div>
</section>