<section class="pt-28 md:py-14">
  <div
    class="container-wrapper text-gray-600 items-center justify-between overflow-hidden lg:flex lg:px-8"
  >
    <div class="flex-none space-y-5 px-4 lg:px-0 lg:max-w-xl text-center">
      <h2 class="text-4xl text-gray-800 font-extrabold md:text-3xl">
        О нас: эксперты в создании уникальной <span class="text-amber-500">деревянной мебели</span> для вашего уюта и стиля
      </h2>
      <p>
        Наша компания - ведущий производитель деревянной мебели, предлагающий широкий ассортимент изделий высокого качества и элегантного дизайна. Мы занимаемся созданием уникальных и индивидуальных решений, отвечающих потребностям наших клиентов. Используя только лучшие материалы и передовые технологии, мы создаем мебель, которая сочетает в себе функциональность, комфорт и прекрасный внешний вид.
      </p>
      <div class="items-center justify-center gap-x-3 space-y-3 sm:flex sm:space-y-0">
        <a
          href="/contacts"
          class="block py-2 px-4 text-center text-white font-medium bg-amber-500 hover:bg-amber-400 active:bg-amber-600 rounded-lg shadow-lg hover:shadow-none"
        >
          Получить консультацию
        </a>
        <a
          href="#"
          class="flex items-center justify-center gap-x-2 py-2 px-4 text-gray-700 hover:text-gray-500 font-medium duration-150 active:bg-gray-100 border rounded-lg md:inline-flex"
          >Перейти в инстаграм!
        </a>
      </div>
    </div>
    <div class="flex-none mt-14 ml-0 lg:ml-12 lg:mt-0 lg:max-w-xl">
        <img src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?q=80&w=1558&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="#">
    </div>
  </div>
</section>