---

import { storyblokEditable, renderRichText } from '@storyblok/astro'
import Image from '../../partials/Image.astro'

const { blok } = Astro.props

const { title, text, instagramLink, image } = blok

const header = renderRichText(title)

---

<section class="pt-28 md:py-14" {...storyblokEditable(blok)}>
  <div
    class="container-wrapper text-gray-600 items-center justify-between overflow-hidden lg:flex lg:px-8"
  >
    <div class="flex-none space-y-5 px-4 lg:px-0 lg:max-w-xl text-center">
      <h2 class="text-4xl text-gray-800 font-extrabold md:text-3xl" set:html={header}>
      </h2>
      <p>
        {text}
      </p>
      <div class="items-center justify-center gap-x-3 space-y-3 sm:flex sm:space-y-0">
        <a
          href="/contacts"
          class="block py-2 px-4 text-center text-white font-medium bg-amber-500 hover:bg-amber-400 active:bg-amber-600 rounded-lg shadow-lg hover:shadow-none"
        >
          Получить консультацию
        </a>
        <a
          href={instagramLink.url}
          class="flex items-center justify-center gap-x-2 py-2 px-4 text-gray-700 hover:text-gray-500 font-medium duration-150 active:bg-gray-100 border rounded-lg md:inline-flex"
          >Перейти в инстаграм!
        </a>
      </div>
    </div>
    <div class="flex-none mt-14 ml-0 lg:ml-12 lg:mt-0 lg:max-w-xl">
      <Image {image} />
    </div>
  </div>
</section>