---

const { blok } = Astro.props

const { logos } = blok

import Image from "../../partials/Image.astro"

---


<div class="py-14">
    <div class="container-wrapper px-4 md:px-8">
        <div class="mt-6">
            <ul class="flex gap-x-10 gap-y-6 flex-wrap items-center justify-center md:gap-x-16">
                
              {
                logos?.map(image => <li>
                <Image {image} classes="w-28"/>
              </li>)
              }

              
            </ul>
        </div>
    </div>
</div>