---

import navData from '../data/navData'

import DefaultLayout from '../layouts/DefaultLayout.astro'

---

<DefaultLayout>
  <section class="py-28">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8">
      <div>
        <h3 class="mt-3 text-gray-800 text-3xl font-extrabold sm:text-4xl">
          Часто задаваемые вопросы
        </h3>
        <div class="mt-3 text-gray-600 dark:text-gray-400">
          <p>
              Ответы на самые частые вопросы. <span>Остались вопросы?</span>
            <a
              class="text-indigo-600 font-semibold whitespace-nowrap"
              href="support@floatui.com"
            >
              Связаться с нами</a
            >.
          </p>
        </div>
      </div>
      <div class="mt-12 divide-y sm:mt-20">
          <div class="py-5 gap-x-12 first:pt-0 sm:flex">
            <div class="max-w-sm pt-8 pb-6 sm:pt-0 lg:flex-grow">
              <h4
                class="text-gray-500 font-semibold"
              >Материалы и изготовление</h4>
            </div>
            <ul class="flex-1 space-y-6 sm:last:pb-6 sm:space-y-8">
                <li>
                  <summary
                    class="flex items-center justify-between font-semibold text-gray-700"
                  >Какой материал используется для изготовления вашей деревянной мебели?</summary>
                  <p
                    class="mt-3 text-gray-600 leading-relaxed"
                  >Мы используем только высококачественную древесину, такую как дуб, сосна и орех, для изготовления нашей мебели.</p>
                </li>
                <li>
                  <summary
                    class="flex items-center justify-between font-semibold text-gray-700"
                  >Можно ли заказать деревянную мебель по индивидуальным размерам?</summary>
                  <p
                    class="mt-3 text-gray-600 leading-relaxed"
                  >Да, мы предлагаем услуги по изготовлению деревянной мебели по индивидуальным размерам. Вы можете указать необходимые размеры при заказе.</p>
                </li>
                <li>
                  <summary
                    class="flex items-center justify-between font-semibold text-gray-700"
                  >Каковы сроки изготовления и доставки деревянной мебели?</summary>
                  <p
                    class="mt-3 text-gray-600 leading-relaxed"
                  >Сроки изготовления и доставки мебели зависят от сложности заказа и наличия необходимых материалов. Обычно срок изготовления составляет от 4 до 8 недель.</p>
                </li>
            </ul>
          </div>
      </div>
      <div class="mt-12 divide-y sm:mt-20">
          <div class="py-5 gap-x-12 first:pt-0 sm:flex">
            <div class="max-w-sm pt-8 pb-6 sm:pt-0 lg:flex-grow">
              <h4
                class="text-gray-500 font-semibold"
              >Материалы и изготовление</h4>
            </div>
            <ul class="flex-1 space-y-6 sm:last:pb-6 sm:space-y-8">
                <li>
                  <summary
                    class="flex items-center justify-between font-semibold text-gray-700"
                  >Какой материал используется для изготовления вашей деревянной мебели?</summary>
                  <p
                    class="mt-3 text-gray-600 leading-relaxed"
                  >Мы используем только высококачественную древесину, такую как дуб, сосна и орех, для изготовления нашей мебели.</p>
                </li>
                <li>
                  <summary
                    class="flex items-center justify-between font-semibold text-gray-700"
                  >Можно ли заказать деревянную мебель по индивидуальным размерам?</summary>
                  <p
                    class="mt-3 text-gray-600 leading-relaxed"
                  >Да, мы предлагаем услуги по изготовлению деревянной мебели по индивидуальным размерам. Вы можете указать необходимые размеры при заказе.</p>
                </li>
                <li>
                  <summary
                    class="flex items-center justify-between font-semibold text-gray-700"
                  >Каковы сроки изготовления и доставки деревянной мебели?</summary>
                  <p
                    class="mt-3 text-gray-600 leading-relaxed"
                  >Сроки изготовления и доставки мебели зависят от сложности заказа и наличия необходимых материалов. Обычно срок изготовления составляет от 4 до 8 недель.</p>
                </li>
            </ul>
          </div>
      </div>
    </div>
  </section>
</DefaultLayout>

  
  
  

