---
import DefaultLayout from "../layouts/DefaultLayout.astro";

---

<DefaultLayout seo={{ author: "Henadzi" }}>
    <section class="py-28">
        <div class="container-wrapper px-4 md:px-8 space-y-2">
            <h2>Ваша заявка <span class="text-orange-500">успешно</span> отправлена!</h2>
            <p>Мы обязательно свяжемся с Вами.</p>
        </div>
    </section>
</DefaultLayout>
