---

import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props

const { title, text, questions } = blok

---



<section class="py-14" {...storyblokEditable(blok)}>

    <div class="container-wrapper px-4 md:px-8">

        <div class="space-y-5">
            <h2 >
                { title }
              </h2>
              <p>
                { text }
              </p>
        </div>
        
    <div>
    { 
    
    questions?.map((blok) => {
        return <StoryblokComponent {blok} />
    })

    }
</div>
</div>   

</section>

<script>

    document.querySelectorAll('.question').forEach(question => {
        question.addEventListener('click', () => {
            question.querySelector('.answer').classList.toggle('hidden')
            
        })
    })

</script>