---

import { storyblokEditable } from '@storyblok/astro'

import Image from '../../partials/Image.astro'

const { blok } = Astro.props

const { image, header, text } = blok

---
<section class="md:py-14" {...storyblokEditable(blok)}>
    <div class="container-wrapper px-4 md:px-8">
        <div class="gap-x-12 flex flex-col-reverse lg:flex-row">
            <div class="lg:block mt-6 lg:mt-0 object-cover ">
                <Image image = { image } classes="md:max-w-lg sm:rounded-lg"/>
            </div>
            <div class="space-y-3 mt-6 sm:px-0 md:mt-0">
                <h3 >
                    { header }
                </h3>
                <p class="mt-3 text-gray-600">
                    { text }
                </p>
                <div>
                    <a
          href="/about"
          class="py-2 px-4 text-center text-white font-medium bg-amber-900 hover:bg-amber-800 active:bg-amber-950 rounded-lg hover:shadow-none"
        >
          Подробнее
        </a>
                </div>
            </div>
        </div>
    </div>
</section>