---
import Image from '../../partials/Image.astro'

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props
const { subheader, header, introduction, instagram, image } = blok



---
<section {...storyblokEditable(blok)} class="py-28">
  <div
    class="container-wrapper text-gray-600 gap-8 items-center justify-between overflow-hidden lg:flex md:px-8"
  >
    <div class="flex-none space-y-5 px-4 md:max-w-full md:px-0 lg:max-w-xl">
      <h1 class="text-sm text-amber-900 font-medium">
        { subheader }
      </h1>
      <h2 >
        { header }
      </h2>
      <p>
        { introduction }
      </p>
      <div class="items-center gap-x-3 space-y-3 sm:flex sm:space-y-0">
        <a
          href="/contacts"
          class="block py-2 px-4 text-center text-white font-medium bg-amber-900 hover:bg-amber-800 active:bg-amber-950 rounded-lg shadow-lg hover:shadow-none"
        >
          Получить консультацию
        </a>
        <a
          href={instagram.url}
          class="flex items-center justify-center gap-x-2 py-2 px-4 text-gray-700 hover:text-gray-500 font-medium duration-150 active:bg-gray-100 border rounded-lg md:inline-flex"
          >Перейти в инстаграм
        </a>
      </div>
    </div>
    <div class="flex-none mt-14 lg:mt-0 lg:max-w-lg">
        <Image {image} classes="lg:rounded-tl-[108px]" loading="eager"/>
    </div>
  </div>
</section>