---

const { article } = Astro.props

const { title, teaser, teaserImage, date, slug } = article.content

import { Icon } from 'astro-icon/components'

import Image from "../../partials/Image.astro";

---
<div>
    <div class="portfolio-link">
        <div class="portfolio-item cursor-pointer before:rounded-lg">
            <Image classes="rounded-lg portfolio-image" image={teaserImage}/>
            <div class="info">
               <div class="p-4">
                <h3 class="text-lg text-gray-800 duration-150 group-hover:text-amber-600 font-bold">
                    {title}
            </h3>
            <p class="text-gray-600 text-sm duration-150 group-hover:text-gray-800">
                    { teaser }
            </p>
               </div>
            </div>
        </div>
    </a>
</div>

<style>

    .portfolio-item {
        position: relative;
        transition: .3s;
    }
    
    .portfolio-item::before{
    position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        background: rgba(217,119,6);
        top: 0;
        left: 0;
        opacity: 0;
}
    
    .portfolio-item:hover::before {
        opacity: .6;
    }

    .portfolio-item:hover .info {
        opacity: 1;
    }    

    .info {
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .3s;
    }

    .info h3, .info p {
        color: white;
    }

</style>

