---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import PortfolioItem from "./PortfolioItem.astro";

import getDate from "../../helpers/getDate";

const { blok } = Astro.props;

const { title, text } = blok;

const { slug } = Astro.params;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories`, {
    version: "draft",
    starts_with: slug,
    is_startpage: 0,
  });

const articles = slug === undefined ? blok.articles : data.stories

---

<section class="py-14"{...storyblokEditable(blok)}>
  <div class="container-wrapper px-4 md:px-8">
    <div class="space-y-5 sm:text-center sm:max-w-md sm:mx-auto">
      <h2>{title}</h2>
      <p class="text-gray-600">{text}</p>
    </div>
    <div
      class="columns-1 mt-4 gap-5 sm:columns-2 sm:gap-8 md:columns-2 lg:columns-3 [&>div:not(:first-child)]:mt-8"
    >
      {
        articles?.length &&
          articles.map((article, index) => {
            if (typeof article === "object") {
              article.content.slug = article.full_slug;

              article.content.date = getDate(article.content.date);

              return <PortfolioItem {article} />;
            }
          })
      }
    </div>
  </div>
</section>
