---

import { storyblokEditable } from '@storyblok/astro'
import PortfolioItem from './PortfolioItem.astro';

import getDate from '../../helpers/getDate'


const { blok } = Astro.props

const { title, text, articles } = blok

---

<section class="py-14" {...storyblokEditable(blok)}>
        <div class="container-wrapper px-4 md:px-8">
            <div class="space-y-5 sm:text-center sm:max-w-md sm:mx-auto">
                <h2 >{ title }</h2>
                <p class="text-gray-600">{ text }</p>
            </div>
            <ul class="grid gap-x-8 gap-y-10 mt-16 sm:grid-cols-2 lg:grid-cols-3">
                    {
                        articles?.length &&
                          articles.map((article) => {

                            if (typeof article === 'object') {

                              article.content.slug = article.slug

                              article.content.date = getDate(article.content.date)

                              return (
                              <PortfolioItem {article} />
                            )
                            }
                          })
                      }
            </ul>
            <div class="mt-10 text-center">
                <a href="#" class="py-3 px-4 font-medium text-sm text-center text-white bg-amber-500 hover:bg-amber-400 active:bg-amber-600 active:shadow-none rounded-lg shadow sm:mt-0 sm:w-auto">
                        Посмотреть еще
                    </a>
            </div>
        </div>
    </section>