---

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

const articles = blok.articles

import PortfolioItem from './PortfolioItem.astro';

---

<section class="py-32">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8">
            <div class="space-y-5 sm:text-center sm:max-w-md sm:mx-auto">
                <h2 class="text-gray-800 text-3xl font-extrabold sm:text-4xl">Наши работы</h2>
                <p class="text-gray-600">Мы регулярно публикуем наши результаты в блоге и инстаграм</p>
            </div>
            <ul class="grid gap-x-8 gap-y-10 mt-16 sm:grid-cols-2 lg:grid-cols-3">
                    {
                        articles?.length &&
                          articles.map((article) => {
                            if (article.typeof === 'object') {
                              article.content.slug = article.slug
                            return (
                              <PortfolioItem {article} />
                            )
                            }
                          })
                      }
            </ul>
            <div class="mt-10 text-center">
                <a href="#" class="py-3 px-4 font-medium text-sm text-center text-white bg-amber-500 hover:bg-amber-400 active:bg-amber-600 active:shadow-none rounded-lg shadow sm:mt-0 sm:w-auto">
                        Посмотреть еще
                    </a>
            </div>
        </div>
    </section>