---

const { blok } = Astro.props

const { header, text, icon } = blok

import { storyblokEditable } from '@storyblok/astro'
import { Icon } from 'astro-icon/components'

---

<li class="bg-white space-y-3 p-4 border rounded-lg text-center" {...storyblokEditable(blok)}>
        <div class="flex items-center justify-center mb-4 text-amber-900" >
          <Icon name={icon} class='w-20 h-20'/>
        </div>
        <h4 class="text-lg font-semibold text-gray-800">
          { header }
        </h4>
        <p class="mt-2 text-base">
          { text }
        </p>
      </li>