---

import ProcessCard from "./ProcessCard.astro";

---

<section class="py-14">
  <div class="max-w-screen-xl mx-auto px-4 text-gray-600 md:px-8">
    <div class="relative max-w-2xl mx-auto sm:text-center">
      <div class="relative z-10">
        <h3 class="text-gray-800 text-3xl font-extrabold sm:text-4xl">
          Этапы сотрудничества
        </h3>
        <p class="mt-3">
          Таким образом рамки и место обучения кадров требуют от нас анализа
          дальнейших направлений развития.
        </p>
      </div>
      <div class="absolute inset-0 max-w-xs mx-auto h-44 blur-[118px]"></div>
    </div>
    <div class="relative mt-12">
      <ul class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
        <ProcessCard name="Название этапа" text="Текст этапа"/>
      </ul>
    </div>
  </div>
</section>
