---

const { blok } = Astro.props

const { header, subheader } = blok

---

<li>
    <h4 class="text-4xl text-amber-900 font-semibold">{header}</h4>
    <p class="mt-3 font-medium">{subheader}</p>
</li>