---

import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props

const {header, subheader, title, image} = blok

import Image from '../../partials/Image.astro'

import Faqs from '../Faqs.astro'

---

<section class="pb-14" {...storyblokEditable(blok)}>
      <div>  <h2 class="text-center">{ title }</h2></div>
    <div class="container-wrapper px-4 text-gray-600 gap-x-12 items-start justify-between md:flex md:px-8 mt-16">
        <div class="sm:hidden lg:block lg:max-w-xl">
            <Image {image} classes="rounded-lg" />
        </div>
        <div class="mt-6 gap-12 sm:mt-0 lg:block">
            <div class="max-w-2xl">
                <h3 class="text-gray-800 text-3xl font-semibold sm:text-4xl">
                        { header }
                </h3>
                <p class="mt-3 max-w-xl">
                        { subheader }
                </p>
            </div>
            <div class="flex-none mt-6 md:mt-0 lg:mt-6">
                <ul class="inline-grid gap-y-8 gap-x-14 grid-cols-2">
                        {
                                blok.blocks?.map((blok) => {
                                    return <StoryblokComponent {blok} />
                                })
                            }
                </ul>
            </div>
        </div>
    </div>
</section>

