---

import { storyblokEditable } from '@storyblok/astro'
import { Icon } from 'astro-icon/components'

const { blok } = Astro.props
const { header, text, icon } = blok

---


<li class="space-y-3" {...storyblokEditable(blok)}>
    <div
        class="w-12 h-12 mx-auto bg-amber-100 text-amber-900 rounded-full flex items-center justify-center text-4xl"
    >
        <Icon name={icon}/>
    </div>
    <h4 class="text-lg text-gray-800 font-semibold">
        {header}
    </h4>
    <p>
        {text}
    </p>
</li>
