---
const { links } = Astro.props;

---

{
    links.map(({name, path}) => {
        return (
            <li>
                <a
                    href={`/${path.cached_url}`}
                    class="hover:underline hover:text-amber-600 cursor-pointer"
                >
                    {name}
                </a>
            </li>
        );
    })
}
