---

import NavLink from './NavLink.astro'

const { menu } = Astro.props

---

<header class="fixed w-full bg-white z-20" id="header">
  <nav
  class="items-center py-5 container-wrapper px-4 md:px-8 xl:flex xl:space-x-6"
>
  <div class="flex justify-between items-center">
    <a href="#" class="text-xl font-medium text-gray-800">Sharm Wood</a>
    <button
      class="text-gray-500 outline-none xl:hidden hamburger"
      id="menu-btn"
    >
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>
    <div
    class="pl-4 md:pl-8 xl:ml-0 w-full flex-1 justify-between pt-12 xl:text-sm xl:font-medium xl:flex xl:mt-0 absolute inset-x-0 border-b bg-white xl:border-none xl:static hidden z-10 xl:pt-0"
    id="responsive-menu"
  >
    <div
      class="items-start space-y-5 flex flex-col xl:flex-row xl:space-x-6 xl:space-y-0 xl:ml-6"
    >
      {
        menu.map(menuItem => {
          return <NavLink {menuItem} />
        })
      }
    </div>
    <div class="order-2 py-5 mr-4 md:mr-0 xl:py-0">
      <a
        href="#"
        class="py-2 px-5 rounded-lg font-medium text-white text-center bg-amber-600 hover:bg-amber-500 active:bg-amber-700 duration-150 block md:py-3 md:inline"
        id="contact-button"
      >
        Связаться с нами
      </a>
    </div>
  </div>
</nav>
</header>

<style>

  .hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }

  .hamburger-middle {
    transform: translateY(7px);
  }

  .hamburger-bottom {
    transform: translateY(14px);
  }

  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }

  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }

  .open .hamburger-middle {
    display: none;
  }

  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
</style>

<script>
  const menuBtn = document.getElementById("menu-btn");

  const menuList = document.getElementById("responsive-menu");

  menuBtn.addEventListener("click", () => {
    menuBtn.classList.toggle("open");
    menuList.classList.toggle("hidden");
  });

  const shadow = 'shadow-lg'

  window.scrollY < 10 ? document.getElementById('header').classList.remove(shadow) : document.getElementById('header').classList.add(shadow)

  window.addEventListener('scroll', () => {

    window.scrollY < 10 ? document.getElementById('header').classList.remove(shadow) : document.getElementById('header').classList.add(shadow)

  })
</script>
