---

const { seo } = Astro.props

---

<title>{seo.title}</title>
<meta charset="UTF-8" />
<meta name="description" content={seo.description || ''} />
<meta name="keywords" content={seo.keywords || ''} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="index, follow" />
<meta name="author" content={seo.author || ''} />
<meta property="og:title" content={seo.title || ''} />
<meta property="og:description" content={seo.ogDescription || ''} />
<meta property="og:image" content={seo.ogImage?.filename || ''} />
<meta property="og:url" content={seo.url || ''} />
<meta name="twitter:card" content={seo.twitterImage?.filename || ''} />
<meta name="twitter:title" content={seo.title || ''} />
<meta name="twitter:description" content={seo.twitterContent || ''} />
<meta name="twitter:image" content={seo.twitterImage?.filename || ''} />
