---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;
---

<form name="contact" class="space-y-5" {...storyblokEditable(blok)} name="contact" method="POST" data-netlify="true" action={`/${blok.navigationSuccess.cached_url}`}>
    {
        blok.forms.map(blok => {
            return <StoryblokComponent {blok} /> 
        })
    }
    <div class="my-2 text-lg" id="message"></div>
    <button
        type="submit"
      class="w-full px-4 py-2 text-white font-medium bg-amber-500 hover:bg-amber-400 active:bg-amber-600 rounded-lg duration-150"
    >
      Получить консультацию
    </button>
</form>

<script>
  const handleSubmit = (event) => {
  event.preventDefault();

  const myForm = event.target;
  const formData = new FormData(myForm);

  const message = document.getElementById('message')
  
  fetch("/", {
    method: "POST",
    headers: { "Content-Type": "application/x-www-form-urlencoded" },
    body: new URLSearchParams(formData).toString(),
  })
    .then(() => message.innerHTML = '<span class="text-green-500">Заявка отправлена!</span>')
    .catch((error) => message.innerHTML = '<span class="text-red-500">Заявка не отправлена!</span>');
};

document
  .querySelector("form")
  .addEventListener("submit", handleSubmit);
</script>