---

import Header from '../components/Header.astro'
import Map from '../components/Map.astro';
import Footer from '../components/Footer.astro';

import '../assets/styles.css'

import Modal from '../components/Modal.astro';
import Contacts from '../components/Contacts.astro';

const { title } = Astro.props



---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Русский Клуб - {title}</title>
	</head>
	<body ontouchstart="">
		<Header />
		<Modal />
            <main>
				<slot />
			</main>
			<Contacts />
		<Footer />
	</body>
</html>

<script>

	const modal = document.getElementById('modal')
	const contactBtn = document.getElementById('contact-button')

	const closeContactBtn = document.getElementById('close-contact-button')

	const overlay = document.getElementById('modal-overlay')

	function toggleModal(elements) {

		elements.forEach(element => {
			element.addEventListener('click', (e) => {
				e.preventDefault()
				modal.classList.toggle('hidden')
			})
		});
	}

	toggleModal([contactBtn, closeContactBtn, overlay])


</script>

<style is:global>
	html {
		font-size: 20px;
	}

	.stop-scrolling {
		height: 100%;
		overflow: hidden;
	}
</style>